.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: red;
}

.message-error {
  /* estilos para mostrar el parrafo */
  background: red;
  color: white;
  opacity: 0;

  /* estilos para pintar de rojo el borde del input */
  // border: 1px solid black;
  // outline: none;

  &.invalid {
    /* estilos para mostrar el parrafo */
    opacity: .8;
    transition: all linear .5s;

    /* estilos para pintar de rojo el borde del input */
    // border: 2px solid red;
    // outline: none;
  }
}

.styles {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  display: flex;
  gap: 1.5rem;
}

.line-error {
  height: 0;
  border-bottom: 1px solid;

  &.valid{
    border-color: green ;
  }

  &.invalid{
    border-color: red ;
  }
}

.products--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;

  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2 {
      margin: 0;
    }
  }

  @media screen and (min-width: 425px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);

  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);

  }

}


.title-1 {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content:center;
  // align-items:center;
  gap: 2rem;


  .btn-register {
    padding: .8rem;
    border-radius: 5px;
    // cursor: pointer;
    // background-color: lightgreen;
    // border: 3px solid seagreen ;
    // color: white;
    // font-size: 1.2rem;
  }
}

.input-group {
  .alert-error {
    opacity: 0;
  }


  label {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }

  input {
    padding: .5rem;
    width: 96%;
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
    outline: none;

  }

  p {
    margin: 5px 0;
  }

  .invalid-alert {
    color: red;
    opacity: .9;
  }

}
