<!-- 11- Fromulario de registro -->
<hr/>
<h1 class="title-1">Registro</h1>
<form (ngSubmit)="onRegister()"  #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required #nameValidate="ngModel" id="name" [(ngModel)]="register.name">
    <p class="alert-error" [class.invalid-alert]="nameValidate.invalid">Name is required</p>
  </div>

  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required #emailValidate="ngModel" id="email" [(ngModel)]="register.email">
    <p class="alert-error" [class.invalid-alert]="emailValidate.invalid">Email is required</p>
  </div>

  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required #passwordValidate="ngModel" id="password" [(ngModel)]="register.password">
    <p class="alert-error" [class.invalid-alert]="passwordValidate.invalid">Password is required</p>
  </div>

  <button [disabled]="myForm.invalid" type="submit" class="btn-register">Registrar</button>
  <!-- <button type="button">Acción</button> -->

</form>



<!-- 10- NgClass & NgStyle -->
<hr/>
<h1>=> NgClass & NgStyle  <=</h1>
<input type="text" required #nameInput5="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput5.valid,
    'invalid': nameInput5.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput5.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" required [(ngModel)]="box.width" />
    <input type="number" required [(ngModel)]="box.height" />
    <input type="color" required [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>



<!-- 9- class & style (dynamic) -->
<hr/>
<h1>=> Class & style <=</h1>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<!-- <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" class="message-error" [class.invalid]="nameInput3.invalid"/> -->
<p class="message-error" [class.invalid]="nameInput3.invalid">
  El campo es requerido
</p>

<label >Nombre</label>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput4.invalid ? 'italic' : 'normal'">Texto texto texto</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="">
  </div>
</div>


<!-- 8- [ngSwitch] -->
<hr/>
<h1>=> [ngSwitch] <=</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'" >
    La persona es Nicolas
  </p>
  <p *ngSwitchCase="'julian'" >
    La persona es Julian
  </p>
  <p *ngSwitchCase="'camilo'" >
    La persona es Camilo
  </p>

  <p *ngSwitchDefault>No hace match</p>
</div>




<!-- 7- *ngFor (listar un array de objetos) -->
<hr/>
<h1>=> *ngFor (objetos) <=</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name" >
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>



<!-- 6- *ngFor (listar un array de strings) -->
<hr/>
<h1>=> *ngFor (valores primitivos) <=</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}->{{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>


<!-- 5- *ngIf -->
<hr/>
<h1>=> *ngIf <=</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'nicolas'" >Soy Nicolas</p>
<p *ngIf="person.name == 'julian' && person.age == 18; else elseBlock" >Soy Julian</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>




<!-- 4- Data [( Binding )] -->
<hr/>
<h1>=> Data [( binding )] <=</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{nameInput.valid}}</p>
<br>
<p>Age: {{ person.age }}</p>
<input type="number" max="50" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ageInput.valid}}</p>




<!-- 3- event) binding-->
<hr/>
<h1>=> (event) binding <=</h1>
<button [disabled]="btnDesable" >Enviar</button>
<button (click)="toggleButton()" >Toggle Button</button>
<br>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()" >Age ++</button>
<button (click)="dicreaseAge()" >Age --</button>
<br>
<br>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam hic sit corporis labore blanditiis, debitis consequatur totam minus quidem, nesciunt repudiandae nisi facere doloribus quos nobis amet laudantium praesentium officia! Aperiam modi quod, consectetur doloribus atque harum iure fuga quaerat veritatis praesentium libero consequatur officia hic</p>
</div>
<p>Nombre: {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />


<!-- 2- Property [ Binding ] -->
<hr/>
<h1>=> Property [ binding ] <=</h1>
<button [disabled]="btnDesable" >Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="" width="100">



<!-- 1- String {{ Interpolation }} -->
<hr/>
<h1>=> String {{ '{{ Interpolation }}' }} <=</h1>
<h2>Hola Mundo</h2>
<h3>{{ 'Hola Mundo'.repeat(5) }}</h3>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h4>Hola mi user name es: {{ name }} y tengo {{ age }} años.</h4>
<img src="{{ img }}" alt="imagen {{ name }}" width="200"  >
